<template name="addLesson">
    <div class="creation__layout">
        <a class="close-btn" href="{{pathFor 'home'}}">
            <img src="/img/close.svg" />
        </a>
		<div class='en-tete'>
			Mon atelier
		</div>
		<div class="steps">
			<div class="step step--done">
			</div>
			<div class="step">
			</div>
			<div class="step">
			</div>
		</div>
        <div class="all-container">
        <div class="step-content">
            <form>
                <div class="input-group">
                    Titre
                    <input data-newLesson = 'title' placeholder="Titre" type="text">
                </div>
                <div class="input-group">
                    Description
                    <textarea data-newLesson = "description" placeholder="Description" rows="5">
                    </textarea>
                </div>
                <div class="inputs">
                    <input data-newLesson = "level" type="radio" name="level" value="1" checked> Debutant
                    <input data-newLesson = "level" type="radio" name="level" value="2"> Amateur
                    <input data-newLesson = "level" type="radio" name="level" value="3"> Confirmé
                </div>
                <div class="input-group">
                    Catégorie
                    <!-- <input data-newLesson = 'categorie' placeholder="Categorie" type="text" > -->
                    <select class="categorie" name="categorie">
                        <option value="scolaire"></option>
                        <option value="scolaire">Scolaire</option>
                        <option value="art">Art</option>
                        <option value="musique">Musique</option>
                        <option value="cuisine">Cuisine</option>
                        <option value="sport">Sport</option>
                        <option value="ludique">Ludique</option>
                        <option value="divers">Divers</option>
                    </select>
                </div>
            </form>
        </div>
            <div class="step-content">
                <form class="nouveau-cours">
                    <div class="input-group">
                        Adresse
                        <input data-newLesson = 'address' class="js-address" placeholder="Adresse" type="text">
                    </div>
                    <div class="input-group">
                        Date
                        <input data-newLesson = "date" placeholder="Quand ?" type="date" min="{{mindate}}" max="{{maxdate}}">
                    </div>
                    <div class="inputs">
                        <div class="input-group">
                            Commence à :
                            <input data-newLesson = "timestart" type="text" placeholder="..h.." maxlength="5">
                        </div>
                        <div class="input-group">
                            Et dure :
                            <input data-newLesson = "duration" type="text" placeholder="..h.." maxlength="5">
                        </div>
                    </div>
                    <div class="input-group">
                        Email
                        <input data-newLesson = 'contact' type="text" value="{{myEmail}}">
                    </div>
                </form>
            </div>
            <div class="step-content">
        		<form class="nouveau-cours">
        			<div class="input-group">
        				Nombre de participants
        				<input data-newLesson = 'nbseats' placeholder="Nombre de places" type="number" step='1'>
        			</div>
        			<div class="input-group">
        				Tarif
        				<input data-newLesson = 'price' placeholder="Tarif" type="number" step="1">
        			</div>
        		</form>
            </div>
        </div>
        <div class="end-form">
            <a href="#" class="button js-next">Suivant</a>
        </div>
	</div>
</template>
