<template name='home'>
    <div class="landing-page__layout {{search}}">
        <div class="logo">
            <img src="img/logo_g.svg"/>
        </div>
        <div class="content">
            <div class="title">
                Bienvenue sur
            </div>
            <div>
                <img src="/img/pleach.svg" alt="pleach">
            </div>
            <div class="subtitle">
                La plateforme pour apprendre et découvrir près de chez soit.
            </div>
        </div>
    </div>
</template>
