<template name='home'>

{{#unless search}}


      <section class="landing-page">
      <div class="landing-page__layout">
          <a class="triangle-up-left" href="">
              <img src="img/logov2.svg" class="logo" />
          </a>
          <div class="content">
              <div class="title">
                  <h1>Bienvenue sur Pleach</h1>
              </div>
              <div class="subtitle">
                  <h2>La plateforme communautaire pour apprendre et découvrir de nouvelles choses.</h2>
              </div>
          </div>

      </div>
  </section>
{{/unless}}
</template>
