<template name="index">
    <div class="map-container">
        {{> googleMap name="map" options=mapOptions}}
    </div>
    <div class="header ontop">
        <strong>Meach</strong>
        {{#if currentUser}}
            <a href="{{pathFor 'profile' _id=myId}}">{{myName}}</a> <a href="#" class="js-logout">log out</a>
        {{/if}}
        <a href="{{pathFor 'addLesson'}}">Ajouter un cours</a>
        {{notViewConv}} <a href="{{pathFor 'inbox'}}">Messagerie</a>
    </div>

    {{>yield}}

    <div class="ontop search">
        <a href="#" class="js-myposition">Ici</a>
        <input type="text" class="js-address">
        <input type="number" class="js-radius" placeholder="Kilomètre autour de vous">
        <a href="#" class="js-searchLessons">Rechercher !</a>
    </div>
</template>
