<template name="index">
    <!-- map -->
    <div class="map-container">
        {{> googleMap name="map" options=mapOptions}}
    </div>

    <!-- header -->
    <header>
        {{#if currentUser}}
			<a href='{{pathFor "addLesson" }}' class="header__purpose">Proposer un atelier</a>
			<a href='{{pathFor "inbox"}}' class="header__chat">{{notViewConv}} Messagerie</a>
			<a href='{{pathFor "profile" _id=myId}}' class="header__picture"> <img src="{{myPic}}" alt="{{myName}}"> </a>
        {{else}}
            <a class="header__sign-in--btn" href='{{pathFor "register"}}'> Connexion</a>
        {{/if}}
    </header>

    {{>yield}}

    <!-- <a href="#" class="js-myposition">Ici</a> -->
    <footer>
        <form class="search-form">
            <div class="search-form__address">
                <input class="address js-address" placeholder="Adresse" type="text" name="username" />
            </div>
            <div class="search-form__rayon">
                <input class="rayon js-radius" placeholder="3km" type="text" name="username" />
            </div>
            <a class="search-form__btn js-searchLessons" href=""> Rechercher </a>
        </form>
    </footer>
</template>
