<template name="lessonPreview">
    <div class="panel">
        <a href="{{pathFor 'home'}}">x</a>
        <h2>{{public.title}}</h2>
        {{public.address.name}} <br>
        {{dateCalendar public.date}}
        <strong>Info : </strong>
        {{public.description}}

        <br>
        <img src="{{userPicture private.owner}}" alt="{{userName private.owner}}" />
        Atelier proposer par <a href="{{pathFor 'profile' _id=private.owner}}"> {{userFirstName private.owner}} </a>

        <a href="{{pathFor 'lesson' _id=_id}}">En savoir plus</a>
    </div>
    <br>
</template>
