/* Google Maps*/
a[href^="http://maps.google.com/maps"]{
    display:none !important;
}
a[href^="https://maps.google.com/maps"]{
    display:none !important;
}
.pac-container:after{
    content: none !important;
}
.gm-style-cc {
    display: none;
}
.map-container {
    width : 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
}

footer {
    position: absolute;
}
