body, a{
    color : #fff;
    font: 14px 'Calibri';
    padding : 0;
    margin: 0;
    text-decoration: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

input, textarea{
    border-radius: 5px;
    padding : 5px 10px;
    width: 200px;
    height: 30px;
    opacity: 0.8
}
/*img{
    width : 100px;
    border-radius: 50%;
}*/
.ontop{
    position: relative;
}
.header{
    text-align: right;
}
.search{
    position: absolute;
    width: 100vw;
    bottom : 10px;
    text-align: center;
}
.panel{
    height: 100vh;
    position: absolute;
    top : 0; left : 0;
    padding : 0 20px;
    background-color: rgba(255,255,255,0.3);
}
.long-panel{
    width: 80vw;
}
.short-panel{
    width: 30vw;
}
.util{
    display: flex;
    margin : 20px 0;
}
.util div{
    flex : 1;
    text-align: center;
}
.close{
    position: absolute;
    right: 10px;
    top : 10px;
    font-size: 20px;
}
.profile-pic{
    width: 50px;
    border-radius: 50%;
}
