body, a{
    color : #fff;
    font: 14px 'Sans pro';
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

input, textarea{
    border-radius: 5px;
    padding : 5px 10px;
    width: 200px;
    height: 30px;
    opacity: 0.8
}
img{
    width : 100px;
}
/* Google Maps*/
a[href^="http://maps.google.com/maps"]{
    display:none !important;
}
a[href^="https://maps.google.com/maps"]{
    display:none !important;
}
.pac-container:after{
    content: none !important;
}
.gm-style-cc {
    display: none;
}
.map-container {
    width : 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
}
.header, .content{
    position: relative;
}
